*.aux
*.log
*.toc
*.out
*.class
*.synctex.gz
*.pdf
*.swp
*.coverage
*.pyc
*htmlcov/
*__pycache__/
*.idea
*/lextab.py
*/yacctab.py
.project
/misc
/report/*.bat
/report/tmp
/CSjark/docs/_build
/CSjark/docs/_static
/CSjark/docs/_template
/CSjark/csjark/*.lua